<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html mip xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
<link rel="canonical" href="{$thisurl}">
<link href="{$theme_path}/style/style.css" rel="stylesheet" />
</head>
<body>
{include file="head.html"}
<div class="wrapper">
    <section class="home_guide">
        <ul class="layout_ul">
          {loop type="arclist" row="8" image=1}
                <li class="layout_li">
                    <article class="home_guide_main">
                        <a href="{$vo.url}" data-type="mip" title="{$vo.title}" class="thumbs">
                            <mip-img  src="{$vo.pic}" alt="{$vo.title}"></mip-img>
                            <div class="title">
                                <h2>{$vo.title}</h2>
                            </div>
                        </a>
                        <span class="is_category"><a href="{$vo.url}" title="{$vo.title}">{typename type="name"/}</a></span>
                    </article>
                </li>
          {/loop}
        </ul>
    </section>
  <section class="topic_list">
        <ul class="layout_ul">
          <li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title="{$vo.title}"><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li>
         <li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title=""><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li><li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title=""><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li><li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title=""><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li><li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title=""><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li><li class="layout_li">
            <article class="topic_main">
              <section class="topic_post">{loop type="arclist" row="1" info=1 image=1}}
                <a target = "_blank" href ={$vo.url} rel ="bookmark" class="thumbs" title ={$vo.title} ><mip-img  src={$vo.pic}></mip-img></a>
                <h2><a target = "_blank" href={$vo.url} rel="bookmark" title={$vo.title}>{$vo.title}</a></h2>
                <span class="is_category"><a target = "_blank" href={$vo.url}>{typename type="name"/}</a></span>
                <div class="excerpt">{$vo.info}...</div>
                <div class="postinfo">
                  <div class="left"><span class="author"><a href ={$vo.url} title=""><i class="icon icon-user-1"></i>{typename type="name"/}</a></span>
                    <span class="date"><i class="icon icon-calendar-1"></i><b>{$postdate}</b></span></div>
                  <div class="right"><span class="view"><small>{$vo.postdate}</small><i class="icon icon-eye-1"></i><b>阅读:{$vo.hits}</b></span></div>
                </div>
              {/loop}</section>{loop type="arclist" row="7"}
                      <li><a href ="{$vo.url}" title={$vo.title}>{$vo.title}</a><span><small>{$vo.postdate}</small></span></li>
              {/loop}
            </article>
          </li>
        </ul>
    </section>
</div>
{include file="footer.html" }
    <script src="https://c.mipcdn.com/static/v1/mip.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-lightbox/mip-lightbox.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
    <script src="https://c.mipcdn.com/static/v1/mip-form/mip-form.js"></script>
</body>
</html>