<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{include file="style.html"}
</head>
<body>
<!-- top开始 -->
{include file="header.html"}
 
<div class="Cons"><a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a></div>
<div class="end">
  <div class="end_title">{$title}</div>
  <div class="end_num">发布日期：{$postdate}</div>
  <div class="end_time">浏览次数：{固定数字3}</div>
  <div class="end_con">{$body}</div>
</div>
<!-- 产品开始 -->

<div class="Cons">产品中心</div>
<div class="brand">
  <ul>
{loop type="arclist" row="6" image="1" tpl='product_show' title="typename"}
    <li><a href="{$vo.url}"><img src="{$vo.pic}" alt="{$vo.title}"></a></li>
{/loop}

  </ul>
</div>
<!-- 产品结束 --> 
{include file="footer.html" }
</body>
</html>