<div class="mainother " style="width: 1200px;margin:0 auto;background:#ffffff"><!-- 友情链接 -->
		<div class="links">
			<div class="linkstitle"></div>
			<ul class="ulfix">
				{loop type="domain"}<li><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>{/loop}
				{if $links_open}
			   {loop type="link"}
			   <li><a href="{$vo.url}" target="_blank">{$vo.title}</a></li>
			   {/loop}
			   {/if}
			</ul>
		</div>
		<!-- @友情链接 -->
	</div>
  	<div class="mreturn">
<a id="gotop"></a> 

	</div>
</div>	<!--@侧边栏按钮--><!--网站公共页脚-->
	<div class="footer">
  <div class="wrapper">
    <div class="lft">Copyright &copy; <a href="{$thisurl}">{$title}</a> 版权所有,<a href="{$web_url}">{$web_name}</a>&nbsp;&nbsp;{$web_tongji}
	</div>
    <div class="rgt">
    
      <a href="#">关于我们</a>
	<span></span>
    
      <a href="#">寻求报道</a>
	<span></span>
    
      <a href="#">投稿须知</a>
	<span></span>
    
      <a href="#">商务合作</a>
	<span></span>
    
      <a href="#">版权申明</a>
	<span></span>
    
     <a href="http://{$host}/sitemap.xml">sitemap</a>
	<span></span>
    
    <span style="display:none"><!-- 站长统计 --></span>
    </div>
  </div>
</div>	

<script>
$(function(){
	$(".nav li dl").each(function(){
		if($(this).find("dd").size()==0){
			$(this).remove();
		}		
	});
	$("#gotop").click(function () {
				$("html,body").animate({scrollTop:0},500);
			});
});
</script>

<!--@网站公共页脚-->
{$web_share} 
{$web_bdpush}

