<!--网站公共头部-->
	<div class="topbar">
	 <div class=" wrapper">
		<div class="logo"><a href="{网站地址}"><img src="/uploads/images/logo.png?n={$encode_name}&w=138"></a></div>
		<ul class="nav">
			<li><strong><a href="{网站地址}" title="" target="_self"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></strong></li>
             {menu row="8"}
      	<li ><strong><a href='{$vo.typeurl}'><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;{$vo.typename}</a></strong></li>
      	{/menu}
		</ul>
		<div class="action"> </div>
	</div>
</div>

	<!--@网站公共头部-->