
<div id="footer">
    <div class="pc_footer">
        <div>本站不良内容举报信箱：{联系邮箱}/举报电话：{联系电话}</div>
        <a href="{随机内容URL}" rel="nofollow">网站简介</a>&nbsp;|&nbsp;
        <a href="{随机内容URL}" rel="nofollow">广告服务</a>&nbsp;|&nbsp;
        <a href="{随机内容URL}" rel="nofollow">网站律师</a>&nbsp;|&nbsp;
        <a href="{随机内容URL}" rel="nofollow">网站地图</a>&nbsp;|&nbsp;
        <a href="{随机内容URL}" rel="nofollow">联系方式</a>
        <a href="{随机内容URL}" rel="nofollow">广播电视节目制作经营许可证苏字第1394号</a>
    </div>
    <div class="mobile_footer">Copyright &copy; <a href="{$thisurl}">{$title}</a> 版权所有,<a href="{$web_url}">{$web_name}</a>&nbsp;&nbsp;{$web_tongji}</div>
</div>
{$web_share} 
{$web_bdpush}


