<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>{$toptitle}</title>
<link rel="stylesheet" type="text/css" href="{$theme_path}/style.css" />
<script type="text/javascript" src="{$theme_path}/unitpngfix.js"></script>
</head>
<body>

<div id="main_container">

		<div id="header">
    <div class="logo">
    <a href="{网站地址}"><img src="{$theme_path}/images/logo.png" width="221" height="91" alt="{$web_name}" title="{$toptitle}" border="0" /></a>
    </div>
    
            <div id="menu_tab">                                     
                    <ul class="menu">
                    <li class="divider"></li>                                                                               
                         <li><a href="/" class="nav_selected"> home </a></li>                         
                         <li><a href="{geturl tpl="about"/}" class="nav"> about us</a></li>
                         {loop type="typename" row="2"}
                         <li><a href="" class="nav"> {$vo.typename}</a></li>
                         {/loop}
                         <li><a href="{geturl tpl="contact.html"/}" class="nav"> contact </a></li>
                    </ul>
            </div>
            
            <div class="search_tab">
            <input type="text" class="search" value="search" />
            <input type="image" src="{$theme_path}/images/search.gif" class="search_bt" />
            </div>
    
    
    </div>
    
 
            
            
    <div id="main_content">
    
      <div class="left_sidebar">
         
        <div id="left_menu">
            <ul>
            {loop type="typename" row="8"}
            <li><a href="{$vo.typeurl}" title="{$vo.typename}" >{$vo.typename}</a></li>
            {/loop}
            </ul>
        </div>
        
        <div class="submenu_pic">
        <img src="{$theme_path}/images/submenu_pic.gif" alt="" title="{$toptitle}" />
        </div>
        
        
     </div>
        
        
        <div id="center_content">
        
       <div class="title"><a href="{geturl tpl="index.html"/}">Home</a> &lt;&lt; swimwear</div>
        
		<div class="product_box">
        <img src="{$theme_path}/images/p1.gif" alt="" title="{$toptitle}" class="prod_image" />
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">82.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>
        </div>
        
		<div class="product_box">
        <img src="{$theme_path}/images/p2.gif" alt="" title="{$toptitle}" class="prod_image"/>
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">33.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>        
        </div>        

		<div class="product_box">
        <img src="{$theme_path}/images/p3.gif" alt="" title="{$toptitle}" class="prod_image" />
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">82.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>
        </div>
        
		<div class="product_box">
        <img src="{$theme_path}/images/p4.gif" alt="" title="{$toptitle}" class="prod_image"/>
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">33.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>        
        </div> 


		<div class="product_box">
        <img src="{$theme_path}/images/p5.gif" alt="" title="{$toptitle}" class="prod_image" />
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">82.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>
        </div>
        
		<div class="product_box">
        <img src="{$theme_path}/images/p6.gif" alt="" title="{$toptitle}" class="prod_image"/>
        <div class="product_details">
        	<div class="prod_title">Banded Red Polka Bikini.</div>
            <p>{$vo.info}
            This cute red and white polka dotted bikini features a banded halter top and matching bottom with tie sides.
            </p>
            <p class="price">Price: <span class="price">33.90 $</span></p>
            <a href="details.html" class="details"><img src="{$theme_path}/images/details.gif" alt="" title="{$toptitle}" border="0"/></a>
        </div>        
        </div> 


         <div class="pagination">
            <span class="disabled">prev</span>
            <span class="current">1</span>
            <a href="#?page=2">2</a>
            <a href="#?page=3">3</a>
            <a href="#?page=4">4</a>
            <a href="#?page=5">5</a>
            <a href="#?page=6">6</a>
            <a href="#?page=7">7</a>...<a href="#?page=199">199</a>
            <a href="#?page=200">200</a>
            <a href="#?page=2">next</a>        
        </div> 

        
        
        </div>
    

   <div class="clear"></div> 
           
    <div id="footer">
    <div class="left_foter"><img src="{$theme_path}/images/footer_logo.gif" alt="" title="{$toptitle}" /></div>
    <div class="center_footer">
    <a href="#">Shipping Terms</a> | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a>
    <br /> By <a href="http://www.cssmoban.com/" title="free css templates" style="color:#9e1c50;">cssmoban</a>
    </div>
    </div>
    
    </div>

</div>
{分享代码}
{百度推送代码}
</body>
</html>