<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<link rel="stylesheet" type="text/css" href="{$theme_path}/skins/style/content.css" />
</head>
<body>
{dede:include filename="head.htm"/}
<div class="warp">
  <div class="iab"><script src='/plus/ad_js.php?aid=22' language='javascript'></script></div>
  <div class="boxleft">
    <div class="content">
      <div class="nav">当前位置：{dede:field name='position'/}  正文阅读</div>
      <div class="new_c_top">
        <ul>
          {dede:arclist row='4' typeid='7' titlelen='22'}
          <li><a href="[field:arcurl/]" class="img_border" target="_blank" title="[field:fulltitle/]"><img src="[field:litpic/]" /><span>[field:title/]</span></a></li>
          {/dede:arclist}
        </ul>
      </div>
      <div class="title">{dede:field.title/}</div>
      {dede:field.description runphp='yes'}
      if(@me<>'' )@me = '
      <div class="intro"><b>本文摘要：</b>'.@me.'</div>
      ';
      {/dede:field.description}
      <div class="endtext"> {dede:field.body/}
        <div id='pages'>
          <ul>
            {dede:pagebreak/}
          </ul>
        </div>
        <div class="uplink mt10 mb10">
          <div class="linkleft">&lt;&lt;{dede:prenext get='pre'/}</div>
          <div class="linkright">{dede:prenext get='next'/}&gt;&gt;</div>
        </div>
        <div class="xgnr">
          <h2>相关内容</h2>
          <ul>
            {dede:likearticle row='6' titlelen='32'}
            <li><a href="[field:arcurl/]" target="_blank" title="[field:fulltitle/]">[field:title/]</a></li>
            {/dede:likearticle}
          </ul>
        </div>
      </div>
    </div>
    <div class="entbox mt10">
      <div class="entbg">
        <h2>频道头条</h2>
      </div>
      <ul>
        {dede:arclist row='4' flag='h,p' titlelen='22'}
        <li><a target="_blank" href="[field:arcurl/]"><img src="[field:litpic/]" alt="[field:fulltitle/]"/><span>[field:title/]</span></a></li>
        {/dede:arclist}
      </ul>
      <dl>
        {dede:arclist row='11' titlelen='36'}
        <dd><a href="[field:arcurl/]" target="_blank" title="[field:fulltitle/]">[field:title/]</a></dd>
        {/dede:arclist}
      </dl>
    </div>
    <div class="entleft mt10">
      <div class="entbg">
        <h2>热门推荐</h2>
        {dede:type typeid='7'}<span><a href="[field:typeurl/]" target="_blank" class="more">更多</a></span>{/dede:type}</div>
      <ul>
        {dede:arclist row='16' typeid='top' flag='p' titlelen='22'}
        <li><a target="_blank" href="[field:arcurl/]"><img src="[field:litpic/]"/><span>[field:title/]</span></a></li>
        {/dede:arclist}
      </ul>
    </div>
  </div>
  <div class="boxright">
    <div class="rBox">
      <div class="tit">
        <h3>内容聚焦</h3>
      </div>
      <div class="con">
        <ul class="pic_con">
          {dede:arclist row='4' flag='p,c' titlelen='24'}
          <li>
            <div class="pic">
              <div class="pic1"><a href="[field:arcurl/]" target="_blank"><img src="[field:litpic/]" alt="[field:fulltitle/]" width="140" height="105"></a></div>
            </div>
            <h6><a href="[field:arcurl/]" title="[field:fulltitle/]" target="_blank">[field:title/]</a></h6>
          </li>
          {/dede:arclist}
        </ul>
      </div>
      <div class="blank9"></div>
    </div>
    <div class="rBox mt10">
      <div class="tit">
        <h3>月点击排行</h3>
      </div>
      <div class="con">
        <div class="txt_con">
          <ul>
            {dede:arclist row='10' typeid='top' titlelen='36' subday='30'orderby='hot'}
            <li><a href="[field:arcurl/]" target="_blank" title="[field:fulltitle/]">[field:title/]</a></li>
            {/dede:arclist}
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="rBox mt10">
      <div class="tit">
        <h3>热点推荐</h3>
      </div>
      <div class="con">
        <ul class="pic_con">
          {dede:arclist row='4' flag='p' titlelen='24'}
          <li>
            <div class="pic">
              <div class="pic1"><a href="[field:arcurl/]" target="_blank"><img src="[field:litpic/]" alt="[field:fulltitle/]" width="140" height="105"></a></div>
            </div>
            <h6><a href="[field:arcurl/]" title="[field:fulltitle/]" target="_blank">[field:title/]</a></h6>
          </li>
          {/dede:arclist}
        </ul>
        <div class="line"></div>
        <div class="txt_con">
          <ul>
            {dede:arclist row='10' titlelen='36' orderby='hot'}
            <li><a href="[field:arcurl/]" target="_blank" title="[field:fulltitle/]">[field:title/]</a></li>
            {/dede:arclist}
          </ul>
        </div>
      </div>
      <div class="blank9"></div>
    </div>
  </div>
</div>
{dede:include filename="foot.htm"/}
</body>
</html>