<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>{$toptitle}</title>
<meta name="description" content="{$description}" />
<meta name="keywords" content="{$keywords}" />
<meta name="applicable-device" content="mobile">
<link href="{$theme_path}/skin/css/bootstrap.min.css" rel="stylesheet">
<link href="{$theme_path}/skin/css/wap_v5.css" rel="stylesheet">
<script type="text/javascript" src="{$theme_path}/skin/js/jquery-1.8.3.js"></script>
</head>
<body class="m-category">
<div class="container">
{include file="head.html"}
<div class="wrap">
  <div class="crumbs lh40">当前位置：<a href="/">首页</a> > <a href="{$typeurl}">{$typename}</a> > 正文</div>
  <article class="article">
    <h1 class="title">{$title}</h1>
    <div class="detail"> <span class="time">{$postdate}</span><span class="author"></span> <span class="source">{$typename}</span> </div>
    <div class="w768"> </div>
    <div class="content">{$body}</div>
    <div class="w768"></div>
    <div id="pages" class="pageLink text-c"></div>
  </article>
  <!--// article end-->
  <section class="mod relation">
    <div class="title TitA"> <em></em>
      <h3>最近关注</h3>
    </div>
    <div class="con show">
      <ul class="feeds feeds-right" id="HotList">
         {loop type="arclist" image=1 row=5}
          <li class="feeds-item">
            <div class="feeds-item-detail hasImg">
              <p class="feeds-item-pic"><a href="{$vo.url}" target="_blank"><img src="{$vo.pic}"></a></p>
              <h3><a href="{$vo.url}">{$vo.title}</a></h3>
              <div class="feeds-item-info"> <span class="time">时间：{$vo.postdate}</span></div>
            </div>
          </li>
		 {/loop}
      </ul>
    </div>
  </section>
  <!--// section end-->
 {include file="footer.html" }
</body>
</html>